.splide-section {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & h2 {
    width: 60%;
    position: relative;

    @media (min-width: 768px) {
      width: 100%;
      position: static;
    }

    &:after {
      content: "";
      background: url(../../img/hmhm-smiley.png);
      background-size: contain;
      display: inline-block;
      background-repeat: no-repeat;
      position: absolute;
      right: -70px;
      top: -10px;
      width: 80px;
      height: 80px;

      @media (min-width: 768px) {
        position: relative;
        top: 10px;
        width: 50px;
        height: 50px;
        right: 0;
      }
    }
  }
}

.splide-home {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  position: relative;

  &__ball {
    display: none;
    @media (min-width: 1080px) {
      display: inline-block;
      position: absolute;
      z-index: 300;
    }

    &--green {
      top: -95px;
      right: 250px;
      animation: flottement 1.5s infinite;
    }
    &--violet {
      bottom: -75px;
      left: 260px;
      animation: flottement 1.8s infinite;
    }
  }

  &__list {
    gap: 2rem;
  }

  &__slide {
    width: calc(90.333%) !important;
    height: 600px;
    overflow: hidden;
    border-radius: 40px;

    @media (min-width: 560px) {
      width: calc(80.333%) !important;
    }

    @media (min-width: 504px) {
      width: calc(70.333%) !important;
    }

    @media (min-width: 768px) {
      width: calc(60.333%) !important;
    }

    @media (min-width: 860px) {
      width: calc(50.333%) !important;
    }

    @media (min-width: 1080px) {
      width: calc(40.333%) !important;
    }

    @media (min-width: 1240px) {
      width: calc(35.333%) !important;
      height: 700px;
    }

    &__a {
      width: 100%;
      height: 100%;
      display: inline-block;
      border-radius: 40px;
      font-family: "Chillax", sans-serif;
      color: $white;
      text-decoration: none;
      position: relative;

      &:hover img {
        transform: scale(1.2);
      }

      &--lyon {
        background: linear-gradient(
          180deg,
          rgba(52, 39, 77, 0) 41.37%,
          rgba(52, 39, 77, 0.5) 70.31%
        );
      }

      &--paris {
        background: linear-gradient(
          180deg,
          rgba(48, 65, 17, 0) 41.37%,
          rgba(48, 65, 17, 0.5) 70.31%
        );
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        transition: all 0.3s;
      }

      & div {
        position: absolute;
        top: 73%;
        left: 12%;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        & h3 {
          font-size: 4rem;
          font-weight: 400;
        }

        & p {
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 1.7rem;
          width: 85%;
        }
      }
    }
  }
}

@keyframes flottement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
