{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}

{% block header %}
        {% include 'partials/_nav.html.twig' %}
{% endblock %}

{% block body %}

<h1 class="title title--h1 title--rgpd">RGPD</h1>

<p class="p p--16">Le Règlement Général sur la Protection des Données (RGPD) est une réglementation européenne qui est entrée en vigueur en mai 2018. Cette réglementation a pour but de renforcer la protection des données personnelles des citoyens européens.</p>

<p class="p p--16">Sur notre site web, nous utilisons des cookies pour permettre à votre navigateur de se souvenir de vos identifiants de connexion. Nous stockons également votre pseudo et votre adresse e-mail dans notre base de données pour que vous puissiez vous connecter et être identifié sur notre site. Nous ne partageons pas ces informations avec d'autres entreprises ou tiers.</p>

<p class="p p--16">Nous prenons la sécurité de vos données personnelles très au sérieux et nous nous engageons à les protéger conformément aux dispositions du RGPD. Vous avez le droit de consulter, de rectifier ou de supprimer vos données personnelles à tout moment. Si vous avez des questions sur la façon dont nous traitons vos données, n'hésitez pas à nous contacter.</p>

<p class="p p--16">En utilisant notre site web, vous acceptez notre politique de confidentialité et l'utilisation des cookies. Si vous n'êtes pas d'accord avec cette politique, veuillez ne pas utiliser notre site web.</p>

<h2 class="title title--h3 title--mt">Conditions d'utilisation</h2>

<p class="p p--16">En utilisant ce site web, vous acceptez de respecter les présentes conditions d'utilisation. Si vous n'êtes pas d'accord avec ces conditions, veuillez ne pas utiliser ce site.</p>

<h2 class="title title--h3 title--mt">Propriété intellectuelle</h2>

<p class="p p--16">Le contenu de ce site web, y compris mais sans s'y limiter, les textes, les graphiques, les images, les logos et les icônes, est la propriété de notre entreprise ou de nos fournisseurs et est protégé par les lois sur la propriété intellectuelle. Vous ne pouvez pas utiliser, reproduire, distribuer, modifier ou afficher le contenu de ce site web sans notre autorisation écrite préalable.</p>

<h2 class="title title--h3 title--mt">Données personnelles</h2>

<p class="p p--16">Nous collectons et utilisons vos données personnelles conformément à notre politique de confidentialité. Nous utilisons des cookies pour améliorer votre expérience utilisateur et pour stocker vos identifiants de connexion. Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour fournir nos services ou si la loi l'exige.</p>

<h2 class="title title--h3 title--mt">Limitation de responsabilité</h2>

<p class="p p--16">Ce site web et son contenu sont fournis "tels quels", sans garantie d'aucune sorte, expresse ou implicite. Nous ne garantissons pas que ce site web sera toujours disponible, exempt d'erreurs ou de virus, ni que les informations contenues sur ce site web sont complètes, précises ou à jour.En aucun cas, nous ne serons responsables de tout dommage direct, indirect, spécial, punitif, accessoire ou consécutif découlant de l'utilisation ou de l'incapacité d'utiliser ce site web ou de tout contenu ou service disponible sur ce site, même si nous avons été informés de la possibilité de tels dommages.</p>

<h2 class="title title--h3 title--mt">Modification des conditions d'utilisation</h2>

<p class="p p--16">Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment et sans préavis. Veuillez consulter régulièrement ces conditions pour vous assurer que vous êtes au courant de toute modification. Votre utilisation continue de ce site web après la publication des modifications signifie que vous acceptez les conditions modifiées.</p>

<h2 class="title title--h3 title--mt">Droit applicable et juridiction</h2>

<p class="p p--16">Les présentes conditions d'utilisation sont régies par le droit français et tout litige découlant de l'utilisation de ce site web sera soumis à la compétence exclusive des tribunaux français.</p>

<h2 class="title title--h3 title--mt">Contactez-nous</h2>

<p class="p p--16">Si vous avez des questions ou des préoccupations concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse e-mail suivante : [insérer votre adresse e-mail de contact].</p>


{% endblock %}